<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Config Editor - Login</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but Config Editor doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <form action="/login" method="POST">
    <p align="center">
      Password: <input type="password" name="secret"><br>
      <input type="reset"> <input type="submit">
    </p>
  </form>
</body>

</html>